@import "tailwindcss";
@source "../components/**/*.{ts,tsx}";
@source "../remotion/**/*.{ts,tsx}";
@source "../../packages/**/*.{ts,tsx}";
@source "../lib/**/*.{ts,tsx}";
@source "../web/**/*.{ts,tsx}";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
